// You must make these changes to the program in order to process the images correctly.
// This will be changed to allow a GUI based control later.
// The math is now correct! I will now make sure the pointcloud that is generated is compliant vs. size.
// That scaling code for webcam -> real will take place soon.

float cam_angle = .96363 ;  // the angle measured from vertical to the platter laser line. [radians]
float turntable_center_horizontal = 320 ;  // Use GIMP to determine this X of center platter (first # near bottom)
float turntable_center_vertical = 368 ;    // Use GIMP to determine this Y of center platter (second # near bottom)